<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imdeli-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC10A9B31CC48F4100201330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC10A9CF1CC48F4100201330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC10A9DA1CC48F4100201330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
